@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "antd/dist/reset.css";

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin-bottom: 0;
	margin-top: 0;
}